@import '/src/Styles/variables';


.containerFooter {
    text-decoration: none;
    color: $buttom-beige;
    position: relative;
    justify-content: space-around;
    background-image:url("../../../../assets/grid2.svg") ;
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;



    .redes {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        
    
     .a {
        width: 30px;
     }
    }
    img, svg {
        vertical-align: middle;
        width: 25px;
    }

    p {
        display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    height: 100px;
    position: absolute;
    justify-content: flex-start;
    width: 95%;
    }
}
